---
import Layout from '../layouts/Layout.astro';
const pageTitle = "MelonBwead";
---
<Layout pageTitle={pageTitle}>

    <div class="logo">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/adrianchenstamp.svg"/>
    </div>
    <div class="title-main">
      <h1>Adrian Chen</h1>
      <span class="badge">Front-End Developer</span>
    </div>    
    <p>
      Hi Hi I'm Adrian! I've been a software engineer for over 10 years. I specialise in front-end web development. 

      <br />
      <br />
      
      I've worked in a variety of projects & industries, from automotives, finance, education, VR Gaming and more.
      I'm most exicited about creating mind blowing customer experiences.
      
      <br />
      <br />
      
      Currently I'm working in one the leading VR experiences company. Adding values for our users by delivering a user friendly web applications to enchance their VR experiences. 
    
      <br />
      <br />

      In the past, I've also lead a feature team within <a href="https://uk.virginmoney.com/" target="_blank">Virgin Money</a> to launch a new telephony platform, integrating web stack technology and cisco finesse to service customers over the phone.

      <br />
      <br />

      One of my favourite project is helping people find similars cars they see outside, using the Arnold Clark mobile app released on <a href="https://apps.apple.com/gb/app/arnold-clark-new-used-cars/id1416500750" target="_blank">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.arnoldclark.customer">Android</a>.
    </p>
    <div class="center">
        <a href="/resume/">
            <button class="btn">My Resume</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="React" title="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Tailwindcss" title="Tailwindcss" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Bootstrap" title="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" title="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" title="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" title="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="TypeScript" title="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" title="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
</Layout>

