---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Adrian Chen - Resume";
---

<Layout pageTitle={pageTitle}>
    <br/>
    <br/>
    <br/>
    <h1>Experiences</h1>
    <hr />
    <ul class="experience-jobs">
      <li>
        <p>
          For a more detailed and up to date information about my current role, please reach out to me via my <a href="https://www.linkedin.com/in/a-c-4a65ba179/" target="_blank">LinkedIn</a>.
        </p>
        <br/>
      </li>

      <li>
        <h2>Senior Software Engineer</h2>
        <h3>Gecko Engage</h3>
        <span>December 2020 - January 2022</span>
        <p>
          Joined one of the best Scottish education software company Gecko Engage. Helping universities to engage and recruit students.
          <br/>
          Being part of the Gecko Chat's team as senior software engineer, working with our chat messaging platform which includes chat bots, integration with other messaging services such as whatsapp, Facebook, SMS, CRM systems, etc. <br/> Building out new features and helping to form processes on software delivery.
        </p>
        <h3>Major Projects:</h3>
        <ul>
          <li>Chat Bot for universities website's integration</li>
          <li>Chat Agents Enguagment and student details look up system</li>
        </ul>
        <br/>
        <br/>
      </li>

      <li>
        <h2>Technical Lead</h2>
        <h3>Virgin Money / Clydesdale Bank</h3>
        <span>July 2019 - December 2020</span>
        <p>
          Being part of a takeover and brand transformation into Virgin Money. This is a fast-paced working enviroment, where critital thinking and decision making is most important. I've Lead a product feature team to launch a react webappm that will integrate with the bank's cisco telephony system. This helps our call agents to service customer more efficient as they call in.
        </p>
        <h3>Major Projects:</h3>
        <ul>
          <li>Virgin Money Agent Servicing Customer Web App</li>
          <li>Telephony Integration between phonelines and web applications</li>
        </ul>
        <br />
        <br />
      </li>

      <li>
        <h2>Software Engineer</h2>
        <h3>Arnold Clark</h3>
        <span>October 2014 - July 2019</span>
        <p>
          Working for Arnold Clark allowed me to help car buyers and owners in Scotland to get the most out of their car buying experience. Introduced physical web technology to the company using low powered bluetooth devices, to provide customer insights at the retail showrooms, and engagement possibilities.
          <br/>
          Influenced the teams to adopt GitHub's Flow approach for developments, using branch-based workflow that supports developers and projects where deployments can happen regularly letting the projects iterate faster.
          <br/>
          I use to run a guild in the department named "JavaScript Happy Fun Times", where we would do a show and tell of anything interesting they have found, knowledge sharing & team building session from members across different teams.
        </p>
        <h3>Major Projects:</h3>
        <ul>
          <li>Arnold Clark Mobile iOS & Android App</li>
          <li>Arnold Clark Website</li>
          <li>Employee's Web Portal & Mobile iOS App</li>
          <li>Car ML Recognition</li>
        </ul>
        <br />
        <br />
      </li>

      <li>
        <h2>Web Application Developer</h2>
        <h3>Geo.me</h3>
        <span>April 2012 - September 2014</span>
        <p>
          Joined the first Google partner company in UK for Google’s map licensing and services. Developing rich web applications to visualise sets of locations data with the use of the Google Maps API library.
          <br/>
          Lead the adoption of front-end MV* development techniques using Backbone.js and Marionette.js internally, helped developers to understand the benefits of decoupling static frontend from backend, for the inhouse application stack that runs on RoR. Established and maintain the workflow and debugging methods, with an ever changing numbers of tools we use for front-end development. Which currently is a combination of node.js packages, gulp, browserify, karma, plus many others.
          <br/>
          Brought progressive enhancement responsive practices and approach for web applications that can be viewed on mobile devices, providing a better user experience for smaller devices. Maintaining documentations and provide code reviews for projects on organisation’s Github repositories. Transform requirements to wireframe interactive demo, coordinated with project managers for technical specs and deliverables.
        </p>
        <h3>Major Projects:</h3>
        <ul>
          <li>Fuel stations locators for BP</li>
          <li>Fuel stations locators for Shell</li>
          <li>Hotspots locator for BT wifi</li>
          <li>Shops locator for Ladbrokes</li>
        </ul>
        <br />
        <br />
      </li>
      
    </ul>

    <br />

    <h1>Education</h1>
    <hr />

      <h2>BSc(Hons) - First Class Honours</h2>
      <p><strong>Multimedia Technology</strong></p>
      <p><strong>University of West of Scotland</strong></p>
      <p>
        <br/>
          - Graduated with First Class Honours <br />
          - Final year research project, Multiplayer Online Virtual Reality <br />
          - Awarded 2011 Best Multimedia Technology Project of the Year <br />
          - Awarded Court Medal for Multimedia Technology 2007 - 2008 for achieving top average overall grades in my year.<br />
          - Volunteered to be student guide for first few weeks of university, helping new  students on their enrolment, provide helpful information. <br />
        </br>
      </p>
</Layout>
