---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">
          <img width="50" height="50" alt="RaccoonSpaceGif" src="/adrianchenstamp.svg"/>
        </a>
    </div>
    <div class="navbar__menu">
        <a href="/resume/">Resume</a>
        <a href="https://github.com/Melonbwead" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

